.label-menu {
  display: grid;
  position: absolute;
  width: 200px;
  /* background-color: var(--secondary-background-color); */
  background-color: white;
  border: 2px solid var(--text-color);
  border-radius: 5px;
  box-sizing: border-box;
  margin: 0px;
  padding: 5px;
}

ul {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.label-pill {
  display: grid;
  padding: 5px 5px;
  text-align: left;
  cursor: pointer;
  /* background-color: var(--secondary-background-color); */
  margin-top: 2px;
  opacity: 0.5;
}

.label-pill:hover {
  opacity: 1;
}
.pdf-container {
  width: 95%;
  height: 100%;
  border: 1px solid black;
  /*border-radius: 5px;*/
  overflow-y: scroll;
  display: block;
  white-space: pre-wrap;
  /* color: var(--text-color); */
  /* background-color: var(--background-color); */
}

.tex-container {
  width: 95%;
  height: 100%;
  border: 1px solid black;
  /*border-radius: 5px;*/
  overflow-y: scroll;
  display: block;
  white-space: pre-wrap;
  /* color: var(--text-color); */
  /* background-color: var(--background-color); */
}

.row-container {
  display: flex;
  flex-direction: row;
}

.split {
  /* color: var(--text-color); */
  border-bottom: 0px solid;
}

.annotation {
  border-bottom: 3px solid;
}

.mark-menu {
  position: absolute;
  width: fit-content;
  border: 2px solid;
  border-radius: 5px;
  /* background-color: var(--secondary-background-color); */
  /* color: var(--text-color); */
  box-sizing: border-box;
  margin: 0px;
  padding: 5px;
  z-index: 100;
}

.mark-menu-item {
  padding: 5px 5px;
  width: 100%;
  text-align: left;
  opacity: 0.5;
}
.mark-menu-item:hover {
  opacity: 1;
}
.mark-menu-option {
  border: 1px solid;
  font-size: 8pt;
  width: 45%;
  border-radius: 5px;
  margin: 0px;
  padding: 1px 1px;
  color: var(--text-color);
}
.mark-menu-option:hover {
  /* background-color: var(--background-color); */
  background-color: var(--background-color);
}

.link-menu {
  display: block;
  position: absolute;
  width: 40%;
  max-height: 400px;
  /* background-color: var(--secondary-background-color); */
  /* color: var(--text-color); */
  /* border: 2px solid; */
  border-radius: 5px;
  box-sizing: border-box;
  margin: 0px;
  padding: 5px;
}

.link-menu-item {
  font-size: 10pt;
  padding: 5px 5px;
  margin-top: 10px;
  width: 100%;
  text-align: left;
  vertical-align: top;
  cursor: pointer;
  /* border: 0px solid var(--text-color); */
  /* background-color: var(--secondary-background-color); */
  color: var(--text-color);
  margin-top: 2px;
}

.link-selected {
  border-radius: 5px;
  background-color: var(--solarized-base1);
  opacity: 1;
}

.link-auto-link {
  border-radius: 5px;
  background-color: var(--transparant-dark);
}

th {
  white-space: pre-line;
  width: fit-content;
  padding: 5px 5px;
}
td {
  padding: 5px 5px;
  white-space: pre-line;
  vertical-align: middle;
  text-align: left;
}

.expand-text {
  opacity: 1;
}
.expand-text:hover {
  opacity: 0.5;
}
